* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(./img/301407.jpg);
  font-family: 'Comfortaa',  sans-serif;
}

.main {
  padding-top: 20px;
  width: 80vw;
  margin: 30px auto auto auto;
  display: flex;
  justify-content: center;
}

.titulo {
  background-color: rgba(211, 211, 211, 0.541);
  backdrop-filter: blur(5px);
  padding: 15px;
  width: auto;
  margin: auto;
  color: rgb(31, 27, 27);
  text-align: center;
}

h2 {
  background-color: rgba(102, 102, 102, 0.904);
  text-align: center;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0.5em;
  padding: 5px 0;
  color: rgb(31, 27, 27);
}

.box {
  padding: 10px;
  margin: 20px 10px 0 10px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: rgba(211, 211, 211, 0.541);
  backdrop-filter: blur(5px);
  border-radius: 0.5em;
  width: 60vw;
  min-height: 20vw;
  height: auto;
}

.btn {
  font-family: 'Comfortaa',  sans-serif;
  border: 0;
  color: rgba(245, 245, 245, 0.767);
  font-weight: bold;
  background-color: rgba(14, 82, 54, 0.829);
  padding: 10px;
  margin-top: 10px;
  border-radius: 0.5em;
}

.btn:hover {
  background-color: rgba(9, 49, 32, 0.829);
  cursor: pointer;
  transition: all 0.5s;
}

.text-input {
  font-family: 'Comfortaa',  sans-serif;
  border-radius: 0.5em;
  background-color: rgba(245, 245, 245, 0.863) ;
  border: 1px solid rgba(0, 0, 0, 0.2);
  display: block;
  padding: 0.5em;
  width: 100%;
  height: auto;
  font-size: 15px;
}

.text-input::placeholder {
  font-size: 15px;
  text-align: start;
  line-height: 100%;
  color: rgb(104, 104, 104);
  font-family: 'Comfortaa',  sans-serif;
}

.footer div {
  background-color: rgba(211, 211, 211, 0.541);
  backdrop-filter: blur(5px);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
}

.footer div p {
  text-align: center;
  height: 100%;
  line-height: 40px;
}

.footer div p a {
  text-decoration: none;
  color: rgb(212, 50, 50);
}

.footer div p a:hover {
  color: rgb(224, 152, 88);
  transition: all 0.5s;
  transform: scale(2);
}

@media (max-width: 1199.98px) {
  .main {
    flex-wrap: wrap;
    width: 100vw;
  }
  .box {
    margin-top: 20px;
    width: 90vw;
  }

  .text-input {
    height: 75px;
    font-size: 15px;
  }

  .footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
  }
}

@media (max-height: 738px) {
  .box {
    margin-top: 5px;
    width: 90vw;
  }

  .main {
    padding-top: 5px;
  }
}
